.rbc-day-bg{
    background-color: whitesmoke;
}

.rbc-header{
    background-color: white;

}

.rbc-calendar{
    
    background-color: white;
}

/* a{
    border-style: none;
} */

.rbc-toolbar{
    margin-bottom: 0px !important;
    font-family: "Passion One", cursive;
}


.rbc-day:hover{
    opacity: .9 !important;
}

.rbc-toolbar button{
    border-width: 1px !important;
    border-radius: 1px !important;
    font-family: "Passion One", cursive;
}


.rbc-date-cell a{
    border-style: none;
}

.rbc-date-cell a:hover{
    background-color: whitesmoke;

}

.rbc-today{
    background-color: white !important;
}

.rbc-toolbar-label{
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    background-color: #5DADE2 !important;
    color: white !important;
}

.rbc-event{
    height: 8px !important;
    border-radius: 9px !important;
    background-color: #ff6a6a !important;
    margin: 1px !important;
    overflow: hidden !important;
}

.rbc-show-more{
    color: white !important;
    height: 8px !important;
    border-radius: 9px !important;
    background-color: #ff6a6a !important;
    margin: 1px !important;
    overflow: hidden !important;
}

.rbc-event-content{
    display: none !important;
}

@media only screen and (min-width: 600px) {
    .rbc-event{
        font-family: "Passion One", cursive;
        text-align: center !important;
        height: auto !important;
        letter-spacing: .1em;
    }
    
    .rbc-event:hover{
        padding-top: 2px !important;
        padding-bottom: 2px !important;
    }    

    .rbc-event-content{
        font-family: "Passion One", cursive;
        overflow: hidden !important;
        display: inline !important;
    }
    .rbc-show-more{
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        height: auto !important;
        text-align: center !important;
    }
  }

/*

.rbc-event{
    background-color: #ff6a6a !important;
}

.rbc-event-allday{
    margin-top: 4px !important;
    text-align: center !important;

    background-color: #ff6a6a !important;
}

.rbc-event-content:hover{
    background-color: #5DADE2 !important;
}

.rbc-event:hover{
    background-color: #5DADE2 !important;
}

.rbc-event-allday:hover{
    background-color: #5DADE2 !important;
}
*/
