.page {
  padding: 1px;
}
.form-control.react-datepicker-ignore-onclickoutside,
.react-datepicker-wrapper {
  width: 465px !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name,
.react-datepicker__day,
[class^="react-datepicker__day--*"],
.react-datepicker__time-list-item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar {
  /* min-height:12px; */
}
.navbar a {
  margin: auto;
  font-size: small;
}

#search-friend-list-form {
  background-color: rgb(44, 44, 44);

  height: auto;

  border: hidden;
}

#search-friend-list-form label {
  display: none;
}

#search-friend-list-form input {
  border-radius: 20px;
  padding: 0.1em 0.5em;
  margin: 0.3em;
}
