.page {
  padding: 1px;
}
.form-control.react-datepicker-ignore-onclickoutside,
.react-datepicker-wrapper {
  width: 465px !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header,
.react-datepicker__day-name,
.react-datepicker__day,
[class^="react-datepicker__day--*"],
.react-datepicker__time-list-item {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.navbar a {
  font-size: small;
}

#search-friend-list-form {
  background-color: rgb(44, 44, 44);

  height: auto;

  border: hidden;
}

#search-friend-list-form label {
  display: none;
}

#search-friend-list-form input {
  border-radius: 20px;
  padding: 0.1em 0.5em;
  margin: 0.3em;
}

#scIcon{
  font-size: 1.3em;
  padding: 6px !important;
}

.nav-item{
  color: white !important;
}

.nav-link{
  border-radius: 7px !important;
}

@media only screen and (min-width: 600px) {
  .nav-link{
    border-radius: 12px !important;
    border-style: solid;
    /* border-style: none; */
    margin-bottom: 8px !important;
    margin-right: 8px !important;
    margin-top: 8px !important;
  }
}

.nav-link:hover{
  opacity: .9;
}