#LoginSignupContainer{
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 50%;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    background-color: #BDC3C7;
    border-color: #E5E7E9;
}

button{
    margin-bottom: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-radius: 24px;
    border-color: #1a73e8;
    color: white;
    background-color: #1a73e8;   
}

button:hover{
    background-color: #0854b8f1;
    opacity: .8;
}