.list-group-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:active {
  background-color: rgb(204, 204, 204);
}

p {
  margin-bottom: 0px;
}

.friend-container {
  margin-top: 20vh;
  height: 70vh;
  overflow-y: scroll;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(44, 44, 44);
}
