#rowcss {
  background-color: white;
  margin: 0;
}

#rowcss1 {
  background-color: white;
  margin: 0;
  padding-top: 18px;
  border-top-color: #343a40!important;
  border-top-width: 4px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-style: solid;
  margin-top: 12px;
  border-width: thin;
}

#main {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
}

#profilepic {
  margin-left: 8px;
  margin-top: 7px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
}

h4 {
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;

  text-align: center;
  color: black;
  margin-top: 7px;
  font-size: 1.2em;
  font-family: "Passion One", cursive;
}

a {
  margin-bottom: 7px !important;
  color: black;
}

strong {
  color: #ff6a6a;
}

.buttons {
  opacity: 0.85;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-color: #ff6a6a;
  border-radius: 48px;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
}
.buttons:hover {
  opacity: 1;
  background-color: rgb(248, 86, 86);
  text-decoration: none;
}

/* class that edits the original button class for edit profile button */
.edit-profile {
  margin-top: 0px !important;
  width: 100%;
  display: block;
  padding: 2px;
  background-color: #5DADE2;
  border-color: #5DADE2;
  border-radius: 8px !important;
}



#subHeaderUsername{
  font-size: 1.65em;
  color: black;
  margin-left: 16px;
}

img{
  margin-top: 20px !important;
  width: 132px !important;
  height: 160px;
}

.userInfoContainer{
  max-height: 212px;
  margin-top: 18px !important;
}

@media screen and (min-width: 1200px) {
  .userInfoContainer{
    padding-left: 100px !important;
  }
}

.userDesc{
  padding-bottom: 8px;
  padding-right: 0px !important;
  margin-right: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: .8em;
  max-height: 86px;
  overflow-y: scroll;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

#userLocation{
  margin-top: 32px !important;
  margin-left: 22px;
  font-size: .79em;
  color: black;
}

#userCreatedAt{
  color: black;
}


#userFriends{
  margin-top: 10px !important;
  border-color: #ff6a6a;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px !important;
}

#userFriends:hover{
  background-color: #f75d5d !important;
  border-color: #f75d5d !important;
}

.edit-profile:hover{
  background-color: #5DADE2 !important;
  border-color: #5DADE2 !important;
  opacity: .9 !important;
}
