#rowcss {
  background-color: white;
  margin: 0;
}

#rowcss1 {
  background-color: white;
  margin: 0;
  border-top: lightgray;
  border-bottom: white;
  border-left: white;
  border-right: white;
  border-style: solid;
  margin-top: 5px;
}

#main {
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
}

#profilepic {
  margin-top: 7px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
}

h4 {
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;

  text-align: center;
  color: #ff6a6a;
  margin-top: 7px;
  font-size: 1.2em;
  font-family: "Passion One", cursive;
}

a {
  margin-bottom: 7px !important;
}

strong {
  color: #ff6a6a;
}

.buttons {
  opacity: 0.85;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-color: #ff6a6a;
  border-radius: 48px;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
}
.buttons:hover {
  opacity: 1;
  background-color: rgb(248, 86, 86);
  text-decoration: none;
}

/* class that edits the original button class for edit profile button */
.edit-profile {
  width: 100%;
  display: block;
  margin-top: 15px;
  padding: 2px;
  background-color: grey;
  border-color: grey;
}
