#LoginContainer {
  border-style: solid;
  background-color: white;
  border-color: white;
  border-radius: 4px;
  margin-top: 120px;
}
#LoginHeader {
  margin-top: 12px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Passion One", cursive;
}

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}


@media only screen and (min-width: 600px) {
  #LoginHeader{
    font-size: 2.4em !important;
  }
}

@media only screen and (min-width: 600px) {
  .labels {
    font-size: 1.4em !important;
  }
}

@media only screen and (min-width: 600px) {
  #signUp {
    font-size: 1.4em !important;
  }
}

@media only screen and (min-width: 600px) {
  .buttons {
    font-size: 1.4em !important;
  }
}

@media only screen and (min-width: 600px) {
  input {
    font-size: 1.25em !important;
  }
}

.labels {
  margin-top: 24px;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}
::placeholder {
  font-size: 0.66em;
}
input {
  background-color: #f9f9f9;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.buttons {
  opacity: 0.85;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-color: #ff6a6a;
  border-radius: 48px;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
}
.buttons:hover {
  opacity: 1;
  background-color: rgb(248, 86, 86);
}
#or {
  padding: 12px;
  text-align: center;
  color: grey;
  font-size: 0.7em;
  font-weight: bolder;
}
a {
  margin-bottom: 40px;
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: #ff6a6a;
  font-size: 0.9em;
}
a:hover {
  text-decoration: none;
  color: white;
  background-color: #ff6a6a;
  border-color: #ff6a6a;
}
