#EditContainer {
  border-style: solid;
  background-color: white;
  border-color: white;
  border-radius: 4px;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}
#EditHeader {
  margin-top: 12px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Passion One", cursive;
}
.labels {
  margin-top: 24px;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}
::placeholder {
  font-size: 0.66em;
}
input {
  background-color: #f9f9f9;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.buttons {
  opacity: 0.85;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-color: #ff6a6a;
  border-radius: 48px;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
}
.buttons:hover {
  opacity: 1;
  background-color: rgb(248, 86, 86);
}
#or {
  padding: 12px;
  text-align: center;
  color: grey;
  font-size: 0.7em;
  font-weight: bolder;
}
a {
  margin-bottom: 40px;
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: #ff6a6a;
  font-size: 0.9em;
}
a:hover {
  color: white;
  background-color: #ff6a6a;
  border-color: #ff6a6a;
}

#profilepic {
  margin-top: 7px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  width: 100px;
}

#profilepic:hover {
  border: 4px ridge red;
}

.clicked {
  border: 4px ridge red !important;
}

h4 {
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: #ff6a6a;
  margin-top: 7px;
}

#CancelButton {
  padding-top: 4px !important;
  padding-bottom: 6px !important;
  margin-top: 18px;
  margin-bottom: 40px;
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: white;
  background-color: #8cadc9;
  font-size: 0.9em;
  transition: 0.2s all ease-in;
  cursor: pointer;
}

#CancelButton:hover {
  color: white;
  background-color: #677886;
  /* border-color: #ff6a6a; */
}

.form-check-input {
  /* margin-left: 120px;
  margin-top: 45px; */
}

.selected {
  box-shadow: 0px 12px 22px 1px #333;
}
