#EditContainer {
  border-style: solid;
  background-color: white;
  border-color: white;
  border-radius: 4px;
  margin-bottom: 32px !important;
  margin-top: 50px !important;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 24px;
}
#EditHeader {
  margin-top: 12px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Passion One", cursive;
}
.labels {
  margin-top: 24px;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}
::placeholder {
  font-size: 0.66em;
}
input {
  background-color: #f9f9f9;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
#changeProfilePhoto {
  border-color: #ff6a6a !important;
  padding-left: 14px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  padding-right: 14px !important;
  color: white !important;
  background-color: #ff6a6a !important;
  font-size: 0.9em !important;
}
#changeProfilePhoto:hover {
  color: #ff6a6a !important;
  background-color: white !important;
  border-color: white !important;
}
.buttons {
  opacity: 0.85;
  letter-spacing: 2px;
  font-size: 0.9em;
  margin-top: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-style: solid;
  border-color: #ff6a6a;
  border-radius: 48px;
  background-color: #ff6a6a;
  color: white;
  font-family: "Fredoka One", cursive;
}

#editProfileSaveBtn {
  border-radius: 7px;
  padding-right: 22px !important;
  padding-left: 22px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  border-bottom-style: none !important;
  font-family: "Fredoka One", cursive;
  background-color: #ff6a6a !important;
  color: white !important;
}

.buttons:hover {
  opacity: 1;
  background-color: rgb(248, 86, 86);
}
#or {
  padding: 12px;
  text-align: center;
  color: grey;
  font-size: 0.7em;
  font-weight: bolder;
}
a {
  margin-bottom: 40px;
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: #ff6a6a;
  font-size: 0.9em;
}
a:hover {
  color: white;
  background-color: #ff6a6a;
  border-color: #ff6a6a;
}

#profilepic {
  margin-top: 7px;
  margin-bottom: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
}

.ml-0 {
  margin-left: 0px !important;
}

a #profilepic:hover {
  background-color: none !important;
}
h4 {
  border-style: solid;
  border-color: white;
  border-radius: 48px;
  letter-spacing: 2px;
  font-family: "Fredoka One", cursive;
  text-align: center;
  color: #ff6a6a;
  margin-top: 7px;
}
