.list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.user-li {
  list-style-type: none;
}

.friend-actions {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.friend-actions p {
  color: rgb(83, 83, 83);
}

.friend-btn:first-child {
  margin-right: 20px;
}

#current-friend {
  fill: green;
}
